.jumbotron{
    padding: 1%;
    margin-top: 15px;
}
h3{
    font-family: 'Special Elite', cursive;
    font-size: 56px;
    
}

h5{
    font-family: 'Special Elite', cursive;
    font-family: 'Allerta Stencil', sans-serif;
}